ul {
    list-style-type: none;
}
li {
    float: left;
    padding: 16px;
    text-align: center;
    display: block;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #4CCD99;
}